*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    color-scheme: light dark;
    --text-color: light-dark(#000, #fff);
    --background-color: light-dark(#fff, #121212);
    --summary-color: light-dark(#d9d9d9, #363636);
    --green-dark: light-dark(#4caf50, #2e7d32);
    --green-light: light-dark(#81c784, #4caf50);
    view-transition-name: root;
}

body {
    font-family: monospace, monospace;
    margin: 0;
    padding: 0;
    color: var(--text-color);
    background-color: var(--background-color);
}

header {
    background: linear-gradient(
        45deg,
        var(--green-dark) 0%,
        var(--green-light) 50%,
        var(--green-dark) 100%
    );
    color: white;
    text-align: center;
    padding: 16px;
}

main {
    padding: 20px;
}

.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

.introduction {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.days {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;

    summary {
        padding: 4px 8px;
        background: var(--summary-color);
        cursor: pointer;
    }
}

@view-transition {
    navigation: auto;
}

::view-transition-group(root) {
    animation-duration: 0.5s;
}

@keyframes move-out {
    from {
        transform: translateY(0%);
    }

    to {
        transform: translateY(-100%);
    }
}

@keyframes move-in {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(0%);
    }
}

::view-transition-old(root) {
    animation: 0.4s ease-in both move-out;
}

::view-transition-new(root) {
    animation: 0.4s ease-in both move-in;
}
