:root {
}

.colors-card,
.dynamic-colors-card {
    display: flex;
    flex-direction: column;
    width: 100%;

    .color {
        height: 80px;
    }
}

.colors-card {
    margin-bottom: 32px;

    .color_1 {
        background: var(--base-color);
    }
}

.dynamic-colors-card {
    .color_1 {
        background: var(--secondary-color);
    }
}
